*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
 }

 header .logo{
    color: white;
    font-weight: 700;
    text-size-adjust: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
 }

 header ul{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 header ul li{
    list-style: none;
    margin-left: 20px;
 }

 header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
 }

 header ul li a:hover{
    background: white;
    color: red;
 }